</div>

</div>

	<!-- Bottom scripts (common) -->
	<script src="<?php echo __PUBLIC__;?>assets/js/gsap/main-gsap.js"></script>
	<script src="<?php echo __PUBLIC__;?>assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="<?php echo __PUBLIC__;?>assets/js/bootstrap.js"></script>
	<script src="<?php echo __PUBLIC__;?>assets/js/joinable.js"></script>
	<script src="<?php echo __PUBLIC__;?>assets/js/resizeable.js"></script>
	<script src="<?php echo __PUBLIC__;?>assets/js/neon-api.js"></script>


	<!-- Imported scripts on this page -->
	<script src="<?php echo __PUBLIC__;?>assets/js/bootstrap-switch.min.js"></script>
	<script src="<?php echo __PUBLIC__;?>assets/js/neon-chat.js"></script>
	<script src="<?php echo __PUBLIC__;?>assets/js/toastr.js"></script>
	

	<!-- JavaScripts initializations and stuff -->
	<script src="<?php echo __PUBLIC__;?>assets/js/neon-custom.js"></script>


	<!-- Demo Settings -->
	<script src="<?php echo __PUBLIC__;?>assets/js/neon-demo.js"></script>

</body>
</html>