<div style="margin: 15px;">
	<form class="layui-form" id="formAddHandlingFee">
	   
		<div class="layui-form-item">
			<label class="layui-form-label">商品名称</label>
			<div class="layui-input-block">
				<input type="text" name="shop_name" placeholder="请输入商品名称." class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
					<label class="layui-form-label">商品分类</label>
					<div class="layui-input-block">
						<select name="shop_rtid">
							<option value="">请选择商品分类</option>
							<?php foreach ($shoprt as $r){ ?>
							<option value="<?php echo $r['id'];?>" disabled="disabled"><?php echo $r['shoprt_name'];?></option>
							<?php if (is_array($r['children'])){ foreach ($r['children'] as $db){?>
							<option value="<?php echo $db['id'];?>"> ✌  <?php echo $db['shoprt_name'];?></option>
							<?php } } }?>
						</select>
					</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">发货类型</label>
			<div class="layui-input-block">
            <input type="radio" name="shop_type" value="1" title="手动发货" checked>
			<input type="radio" name="shop_type" value="2" title="自动发货">
			</div>
		</div>
		
        <div class="layui-form-item layui-form-text">
					<label class="layui-form-label">自动发货</label>
					<div class="layui-input-block">
						<textarea name="shop_content" rows="10" placeholder="可留空,只有自动发货类型才会用得到,自动发货数据,一般为都是一些账号,或者是卡密,又或者是CDK等文本信息,每行则为一条信息,用户购买一次,就自动删减一行发给用户.." class="layui-textarea"></textarea>
					</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">商品单价</label>
			<div class="layui-input-block">
				<input type="text" name="shop_price" placeholder="商品单价,购买的价格.." class="layui-input">
			</div>
		</div>
		
		<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">商品介绍</label>
					<div class="layui-input-block">
			    <textarea name="shop_present" placeholder="商品的介绍,可留空.." class="layui-textarea"></textarea>
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">商品图片</label>
			<div class="layui-input-block">
				<input type="text" name="shop_imgurl" placeholder="商品图片地址,可留空.." class="layui-input">
			</div>
		</div>
		
		<button lay-filter="edit" lay-submit style="display: none;"></button>
	</form>
</div>