<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员管理</title>
		<link rel="stylesheet" href="<?php echo __PUBLIC__;?>plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="<?php echo __PUBLIC__;?>css/global.css?v=1.2" media="all">
		<link rel="stylesheet" href="<?php echo __PUBLIC__;?>css/table.css" />
		<style type="text/css">
        .layui-table td{
        	font-size: 13px;
        }
        </style>
	</head>

	<body>
		<div class="admin-main">

			<blockquote class="layui-elem-quote">
				<a href="javascript:;" class="layui-btn layui-btn-small" id="add">
					<i class="layui-icon">&#xe608;</i> 增加用户
				</a>
				<a href="javascript:;" class="layui-btn layui-btn-small" onclick="checkDelte();">
					<i class="layui-icon">&#xe640;</i> 删除
				</a>
				
				<a href="javascript:;" class="layui-btn layui-btn-small" onclick="checkBild();">
					<i class="layui-icon">&#xe64f;</i> 解绑
				</a>
				
				<a href="javascript:;" class="layui-btn layui-btn-small" onclick="checkeIP();">
					<i class="layui-icon">&#xe617;</i> 解除异地
				</a>
				
				<a href="javascript:;" class="layui-btn layui-btn-small" onclick="checkFrozen();">
					<i class="layui-icon">&#x1006;</i> 冻结
				</a>
				
				<a href="javascript:;" class="layui-btn layui-btn-small" onclick="checkRelieve();">
					<i class="layui-icon">&#xe605;</i> 解冻
				</a>

				<a href="javascript:;" class="layui-btn layui-btn-small" id="itemserach">
					<i class="layui-icon">&#xe641;</i> 查软件
				</a>

				<a href="javascript:;" class="layui-btn layui-btn-small" id="timeserach">
					<i class="layui-icon">&#xe628;</i> 查注册时间
				</a>
				<a href="javascript:;" class="layui-btn layui-btn-small" id="payuser">
					<i class="layui-icon">&#xe62b;</i> 充值
				</a>
				<a href="javascript:;" class="layui-btn layui-btn-small" onclick="checkFreebc();">
					<i class="layui-icon">&#xe601;</i> 踢下线
				</a>
				<a href="javascript:;" class="layui-btn layui-btn-small" id="sendMsg">
					<i class="layui-icon">&#xe606;</i> 发送即时消息
				</a>
				<div class="layui-input-inline">
						<input type="text" id="soText" value="<?php echo get('search');?>" placeholder="请输入用户名.." class="layui-input">
				</div>
				<a href="javascript:;" onclick="var ts = document.getElementById('soText').value;if(ts){location.href='<?php echo __URL__;?>index.php/admin/index/user/search/' + ts;}else{location.href='<?php echo __URL__;?>index.php/admin/index/user';}" class="layui-btn layui-btn-small">
					<i class="layui-icon">&#xe615;</i> 查询
				</a>
			</blockquote>
				

				
		
			<legend><a href='<?php echo __URL__;?>index.php/admin/index/user' class="layui-btn layui-btn-small layui-btn-radius">全部</a>
			<a href='<?php echo __URL__;?>index.php/admin/server/updateuser' class="layui-btn layui-btn-small layui-btn-radius" target="_blank">更新数据</a>
			<a href='<?php echo preg_replace("/\/frozen\/[\s\S]+?/", "", geturl());?>/frozen/3' class="layui-btn layui-btn-small layui-btn-warm layui-btn-radius">已到期</a>
			<a href='<?php echo preg_replace("/\/frozen\/[\s\S]+?/", "", geturl());?>/frozen/4' class="layui-btn layui-btn-small layui-btn-warm layui-btn-radius">未到期</a>
			<a href='<?php echo preg_replace("/\/frozen\/[\s\S]+?/", "", geturl());?>/frozen/6' class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius">在线</a>
			<a href='<?php echo preg_replace("/\/frozen\/[\s\S]+?/", "", geturl());?>/frozen/5' class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius">离线</a>
			<a href='<?php echo preg_replace("/\/frozen\/[\s\S]+?/", "", geturl());?>/frozen/2' class="layui-btn layui-btn-small layui-btn-danger layui-btn-radius">已冻结</a>
			<a href='<?php echo preg_replace("/\/frozen\/[\s\S]+?/", "", geturl());?>/frozen/1' class="layui-btn layui-btn-small layui-btn-danger layui-btn-radius">未冻结</a>
			<a onclick="if(window.confirm('你确定要清空当前分类的所有用户吗?这是不可恢复的!')){ location.href='<?php echo __URL__;?>index.php/admin/server/Emptyuser/url/<?php echo Sendurl();?>/frozen/<?php echo get('frozen');?>'; }else{ return false;}" class="layui-btn layui-btn-small layui-btn-radius">删除该分类的用户</a>
			<span class="layui-btn layui-btn-small layui-btn-radius layui-btn-disabled" style="color:green;font-family:微软雅黑;"> 共计 <?php echo $arrayPage['camiNum'];?> 个用户 </span>
			</legend>
			
			
		
			
				<div class="layui-form">
					<table class="layui-table admin-table">
					
						<thead>
							<tr>
								<th style="width: 30px;"><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
								<th>用户名</th>
								<th>密码</th>
								<th>手机号码</th>
								<th>邮箱</th>
								<th>设备授权</th>
								<th>注册IP</th>
								<th>注册时间</th>
								<th>登录IP</th>
								<th>登录时间</th>
								<th>登录次数</th>
								<th>账户(BUY)</th>
								<th>绑定软件</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						
						<tbody>
						<?php  if(empty($data)){echo '<tr><td colspan="16" style="color:green;text-align:center;">没有任何数据..</td></tr>';}?>
						<?php foreach($data as $db){?>
		  		<tr>
				<td><input type="checkbox" name="godid" value="<?php echo $db['id'];?>" lay-skin="primary"></td>
				<td><?php echo $db['user_username'];?></td>
				<td><?php echo decrypt($db['user_needword']);?></td>
				<td><?php echo $db['user_mobile'];?></td>
				<td><?php echo $db['user_email'];?></td>
				<td><?php echo $db['user_device']=='0'?'<span style="color:red;">未授权</span>':'<span style="color:green;">已授权</span>';?></td>
				<td><?php echo $db['user_regip'];?></td>
				<td><?php echo date('Y-m-d H:i:s',$db['user_regTime']);?></td>
				<td><?php echo $db['user_loginip']==0?'无记录':$db['user_loginip'];?></td>
				<td><?php echo $db['user_loginTime']==0?'无记录':$db['user_loginTime'];?></td>
				<td><?php echo $db['user_loginNum'];?></td>
				<td><?php echo $db['user_account']==0?'未充值':$db['user_account'];?></td>
				<td><?php echo $db['user_itemid'];?></td>
				<td><?php if($db['user_frozen'] != 1){
					echo '<span style="color:violet;">已冻结</span>';
				}else{
					$itemheartbeat = $itemDB->select("id={$db['user_itemid']}")[0];

					if(is_array($itemheartbeat)){
							if(time()-$db['user_dynamic'] > $itemheartbeat['item_heartbeat']){
								
							echo '<span style="color:red;">离线 ✘</span>';
							
						}else{
							echo '<span style="color:green;">在线 ✔</span>';
					}

						}else{
					echo '无障碍';
							}
					
					} ?></td>
				
				
				<td>
					<a data-id="<?php echo $db['id'];?>" onclick="edit(this)" class="layui-btn layui-btn-mini">修改</a>
					<a href="<?php echo __URL__;?>index.php/admin/server/Frozenuser/id/<?php echo $db['id'];?>/url/<?php echo Sendurl();?>" class="layui-btn layui-btn-mini <?php echo $db['user_frozen']==1?'layui-btn-normal':'layui-btn-warm';?>"><?php echo $db['user_frozen']==1?'冻结':'解冻';?></a>
					<a href="javascript:;" onclick="if(window.confirm('你确定要删除吗？')){ location.href='<?php echo __URL__;?>index.php/admin/server/pub/action/delete/tpl/user/id/<?php echo $db['id'];?>/url/<?php echo Sendurl();?>'; }else{ return false;}" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
				</td>
			</tr><?php }?>
						</tbody>
					</table>
				</div>
		

		<div id="paged" class="page" style="margin-left: 1px;">
			<div class="layui-box layui-laypage layui-laypage-default">
				
				<?php autopage($arrayPage['count'], $arrayPage['page'], 10);?>
				
			</div>
		</div>

	</div>
		<script type="text/javascript" src="<?php echo __PUBLIC__;?>plugins/layui/layui.js"></script>
		<script>
		
		layui.use(['layer'], function() {
			var $ = layui.jquery,
				layer = layui.layer;
			//这个是点击之后才添加的。
			
			$('#sendMsg').on('click', function() {
				 var con = '<div style="padding:10px;"><textarea placeholder="请输入要发送的内容..." id="msg" class="layui-textarea"></textarea></div>';
					
					layer.open({
						type: 1,
						title: '发送即时消息',
						content: con,
						btn: ['确认发送', '取消'],
						area: ['350px', '230px'],
						yes: function(index, layero) {
							var msg = $('#msg').val();
							var chk_value = ''; 
							  $('input[name="godid"]:checked').each(function(){ 
							  chk_value += $(this).val() + ',';
							  }); 
							  if(chk_value.length==0){
								  layer.msg("请选择用户后再发送信息!");
							  }else{
								  layer.msg("请稍后,正在发送..");
								  $.ajax({
					                    type: "GET",
					                    dataType: "json",
					                    url: '<?php echo __URL__;?>index.php/admin/server/Msgsend/msg/'+msg+'/id/'+chk_value,
					                    success: function (data) {
						                     if(data.code == "1"){
						                    	window.setTimeout(function(){layer.msg("发送成功");},1000); 
						                    	window.setTimeout(function(){location.href='';},1500); 
							                 }else{
							                	layer.msg("发送失败");
											 } 
					                    	
					                    },
					                    error: function(data) {
					                        alert("error:"+data.responseText);
					                     }
								 });
								  
								  }
							
						},
						shade :false,
						maxmin :true
					}); 

			});
			
			$('#payuser').on('click', function() {
				 var con = '<div style="padding:10px;"><input type="text" class="layui-input" style="margin-bottom:5px;" id="pay" placeholder="充值数值,自动识别运营模式.." /></div>';
					
					layer.open({
						type: 1,
						title: '批量充值账户',
						content: con,
						btn: ['确认充值', '取消'],
						area: ['350px', '150px'],
						yes: function(index, layero) {
							var pay = $('#pay').val();
							var chk_value = ''; 
							  $('input[name="godid"]:checked').each(function(){ 
							  chk_value += $(this).val() + ',';
							  }); 
							  if(chk_value.length==0){
								  layer.msg("请选择后再进行操作!");
							  }else{
								  layer.msg("请稍后,正在充值..");
								  $.ajax({
					                    type: "GET",
					                    dataType: "json",
					                    url: '<?php echo __URL__;?>index.php/admin/server/Payuser/pay/'+pay+'/id/'+chk_value,
					                    success: function (data) {
						                     if(data.code == "1"){
						                    	window.setTimeout(function(){layer.msg("充值成功");},2000); 
						                    	window.setTimeout(function(){location.href='';},2500); 
							                 }else{
							                	layer.msg("充值失败");
											 } 
					                    	
					                    },
					                    error: function(data) {
					                        alert("error:"+data.responseText);
					                     }
								 });
								  
								  }
							
						},
						shade :false,
						maxmin :true
					}); 

			});
		
			
			$('#itemserach').on('click', function() {
				 var con = '<div style="padding:10px;"><input type="text" class="layui-input" style="margin-bottom:5px;" id="itemID" value="<?php echo get('itemID');?>" placeholder="请输入软件ID进行查询..." /></div>';
					
					layer.open({
						type: 1,
						title: '软件ID查找',
						content: con,
						btn: ['开始查询', '取消查询'],
						area: ['350px', '150px'],
						yes: function(index, layero) {
							var itemID = $('#itemID').val();
							location.href='<?php echo __URL__;?>index.php/admin/index/user/itemID/'+itemID;
						},
						shade :false,
						maxmin :true
					}); 

			});
			
			$('#timeserach').on('click', function() {
				 var con = '<div style="padding:10px;"><input type="text" id="TimeID" lay-verify="date" placeholder="yyyy-mm-dd" value="<?php echo get('TimeID');?>" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})"></div>';
					
					layer.open({
						type: 1,
						title: '历史注册查询',
						content: con,
						btn: ['开始查询', '取消查询'],
						area: ['350px', '160px'],
						yes: function(index, layero) {
							var TimeID = $('#TimeID').val();
							location.href='<?php echo __URL__;?>index.php/admin/index/user/TimeID/'+TimeID;
						},
						shade :false,
						maxmin :true
					}); 

			});

			

		});
		
		
		
		layui.use('form', function(){
			  var $ = layui.jquery, form = layui.form(),layer = layui.layer;
			  
			  //全选
			  form.on('checkbox(allChoose)', function(data){
			    var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
			    child.each(function(index, item){
			      item.checked = data.elem.checked;
			    });
			    form.render('checkbox');
			  });

		layui.use(['form', 'layedit', 'laydate'], function(){
			  var form = layui.form()
			  ,layer = layui.layer
			  ,layedit = layui.layedit
			  ,laydate = layui.laydate;
			});
		});
		
		//删除选中的
		  function checkDelte(){//jquery获取复选框值 
			  layui.use('form', function(){
				  var $ = layui.jquery,layer = layui.layer;
				  var chk_value = ''; 
				  
				  $('input[name="godid"]:checked').each(function(){ 
				  chk_value += $(this).val() + ',';
				  }); 
				  if(chk_value.length==0){
					  layer.msg("请选择后再进行操作!");
				  }else{
					 location.href='<?php echo __URL__;?>index.php/admin/server/pub/action/delete/tpl/user/id/' + chk_value+'/url/<?php echo Sendurl();?>';
				  }
			  
			  });
			}
		
		//冻结选中的checkFrozen
		function checkFrozen(){//jquery获取复选框值 
			  layui.use('form', function(){
				  var $ = layui.jquery,layer = layui.layer;
				  var chk_value = ''; 
				
				  $('input[name="godid"]:checked').each(function(){ 
				  chk_value += $(this).val() + ',';
				  }); 
				  if(chk_value.length==0){
					  layer.msg("请选择后再进行操作!");
				  }else{
					 location.href='<?php echo __URL__;?>index.php/admin/server/pub/action/update/tpl/user/key/user_frozen/value/2/id/' + chk_value+'/url/<?php echo Sendurl();?>';
				  }
			  
			  });
			}
		//解除冻结的checkRelieve
		function checkRelieve(){//jquery获取复选框值 
			  layui.use('form', function(){
				  var $ = layui.jquery,layer = layui.layer;
				  var chk_value = ''; 
				 
				  $('input[name="godid"]:checked').each(function(){ 
				  chk_value += $(this).val() + ',';
				  }); 
				  if(chk_value.length==0){
					  layer.msg("请选择后再进行操作!");
				  }else{
					 location.href='<?php echo __URL__;?>index.php/admin/server/pub/action/update/tpl/user/key/user_frozen/value/1/id/' + chk_value+'/url/<?php echo Sendurl();?>';
				  }
			  
			  });
			}

		//解绑
		function checkBild(){//jquery获取复选框值 
			  layui.use('form', function(){
				  var $ = layui.jquery,layer = layui.layer;
				  var chk_value = ''; 
				
				  $('input[name="godid"]:checked').each(function(){ 
				  chk_value += $(this).val() + ',';
				  }); 
				  if(chk_value.length==0){
					  layer.msg("请选择后再进行操作!");
				  }else{
					 location.href='<?php echo __URL__;?>index.php/admin/server/pub/action/update/tpl/user/key/user_device/value/0/id/' + chk_value+'/url/<?php echo Sendurl();?>';
				  }
			  
			  });
			}

		//解除异地登录
		function checkeIP(){//jquery获取复选框值 
			  layui.use('form', function(){
				  var $ = layui.jquery,layer = layui.layer;
				  var chk_value = ''; 
				
				  $('input[name="godid"]:checked').each(function(){ 
				  chk_value += $(this).val() + ',';
				  }); 
				  if(chk_value.length==0){
					  layer.msg("请选择后再进行操作!");
				  }else{
					 location.href='<?php echo __URL__;?>index.php/admin/server/pub/action/update/tpl/user/key/user_loginip/value/0/id/' + chk_value+'/url/<?php echo Sendurl();?>';
				  }
			  
			  });
		}
		
		//踢掉用户 checkFreebc
		function checkFreebc(){//jquery获取复选框值 
			  layui.use('form', function(){
				  var $ = layui.jquery,layer = layui.layer;
				  var chk_value = ''; 
				 
				  $('input[name="godid"]:checked').each(function(){ 
				  chk_value += $(this).val() + ',';
				  }); 
				  if(chk_value.length==0){
					  layer.msg("请选择后再进行操作!");
				  }else{
					 location.href='<?php echo __URL__;?>index.php/admin/server/pub/action/update/tpl/user/key/user_dynamic/value/0/id/' + chk_value+'/url/<?php echo Sendurl();?>';
				  }
			  
			  });
			}
	
			layui.use(['layer'], function() {
				var $ = layui.jquery,
					layer = layui.layer;
		
				//这个是点击之后才添加的。
				var addBoxIndex = -1;
				$('#add').on('click', function() {
					if(addBoxIndex !== -1)
						return;
					//本表单通过ajax加载 --以模板的形式，当然你也可以直接写在页面上读取
					$.get('<?php echo __URL__;?>index.php/admin/index/addUser', null, function(form) {
						addBoxIndex = layer.open({
							type: 1,
							title: '添加新用户',
							content: form,
							btn: ['确认添加', '取消'],
							shade: false,
							offset: ['100px', '30%'],
							area: ['600px', '490px'],
							zIndex: 19950924,
							maxmin: true,
							yes: function(index) {
								//触发表单的提交事件
								$('form.layui-form').find('button[lay-filter=edit]').click();
							},
							full: function(elem) {
								var win = window.top === window.self ? window : parent.window;
								$(win).on('resize', function() {
									var $this = $(this);
									elem.width($this.width()).height($this.height()).css({
										top: 0,
										left: 0
									});
									elem.children('div.layui-layer-content').height($this.height() - 95);
								});
							},
							success: function(layero, index) {
								//弹出窗口成功后渲染表单
								var form = layui.form();
								form.render();
								form.on('submit(edit)', function(data) {
									$.ajax({
					                    type: "POST",
					                    dataType: "json",
					                    url: '<?php echo __URL__;?>index.php/admin/server/Adduser',
					                    data: $('#formAddHandlingFee').serialize(),
					                    success: function (data) {
						                     if(data.code == "1"){
						                    	layer.msg("添加成功");
						                    	location.href='';
							                 }else{
							                	layer.msg("添加失败");
											 } 
					                    	
					                    },
					                    error: function(data) {
					                        alert("error:"+data.responseText);
					                     }
						 });
									
									
									
									
									return false; //阻止表单跳转。						
								});
								//console.log(layero, index);
							},
							end: function() {
								addBoxIndex = -1;
							}
						});
					});
				});

				

			});
			
			//这个是点击之后才添加的。
			 function edit(data) {
				 //获取当前ID
				 layui.use(['layer'], function() {
						var $ = layui.jquery,
							layer = layui.layer;
						//这个是点击之后才添加的。
						var addBoxIndex = -1;
						var vid = data.attributes['data-id'].nodeValue;
						if(addBoxIndex !== -1)
								return;
							//本表单通过ajax加载 --以模板的形式，当然你也可以直接写在页面上读取
							$.get('<?php echo __URL__;?>index.php/admin/index/editUser/id/'+vid, null, function(form) {
								addBoxIndex = layer.open({
									type: 1,
									title: '修改用户资料',
									content: form,
									btn: ['确认修改', '取消'],
									shade: false,
									offset: ['100px', '30%'],
									area: ['650px', '550px'],
									zIndex: 19950924,
									maxmin: true,
									yes: function(index) {
										//触发表单的提交事件
										$('form.layui-form').find('button[lay-filter=edit]').click();
									},
									full: function(elem) {
										var win = window.top === window.self ? window : parent.window;
										$(win).on('resize', function() {
											var $this = $(this);
											elem.width($this.width()).height($this.height()).css({
												top: 0,
												left: 0
											});
											elem.children('div.layui-layer-content').height($this.height() - 95);
										});
									},
									success: function(layero, index) {
										//弹出窗口成功后渲染表单
										var form = layui.form();
										form.render();
										form.on('submit(edit)', function(data) {
											$.ajax({
							                    type: "POST",
							                    dataType: "json",
							                    url: '<?php echo __URL__;?>index.php/admin/server/Edituser/id/'+vid,
							                    data: $('#formEditHandlingFee').serialize(),
							                    success: function (data) {
								                     if(data.code == "1"){
								                    	layer.msg("修改成功");
								                    	location.href='';
									                 }else{
									                	layer.msg("修改失败");
									                	location.href='';
													 } 
							                    	
							                    },
							                    error: function(data) {
							                        alert("error:"+data.responseText);
							                     }
								 });
											
											return false; //阻止表单跳转。						
										});
										//console.log(layero, index);
									},
									end: function() {
										addBoxIndex = -1;
									}
								});
							});
						
					});
				
			};
			
			
			
		</script>
	
	</body>

</html>